html {
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{
    text-align: center;
    font-size: 64px;
    color: #0d6efd;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-disc {
    width: 30%;
}
.btn-edit{
    display: inline-block;
    margin-left: 450px;
    width: 60%;
    font-size: 24px;
    margin-top: 10px;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

th{
    background-color: #0d6efd;
    border:  solid 1.5px #fff;
    color: #fff;
    padding: 15px;
}

td{
    background-color: #fff;
    border: solid 1px #0d6efd;
    color: #0d6efd;
    text-align: center;
    padding: 10px;
}
.sec-form{
    margin: 30px 100px;
}