html {
    font-family: Arial, Helvetica, sans-serif;
}
.btn-back{
    margin: 10px 5px;
    width: auto;
}
.btn-infor{
    margin-left: 5px;
    width: auto;
}
.titulo{
    text-align: center;
    font-size: 64px;
    color: #0d6efd;
    margin-top: 30px;
    margin-bottom: 30px;
}
.titulo2{
    text-align: center;
    font-size: 32px;
    color: #0d6efd;
    margin-top: 30px;
    margin-bottom: 30px;
}
button {
    width: 100%;
    font-size: 24px;
    margin-top: 10px;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

th{
    background-color: #0d6efd;
    border:  solid 1.5px #fff;
    color: #fff;
    padding: 15px;
}

td{
    background-color: #fff;
    border: solid 1px #0d6efd;
    color: #0d6efd;
    text-align: center;
    padding: 10px;
}
.btns{
    display: flex;
}
a:link {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}