html {
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{
    text-align: center;
    font-size: 64px;
    color: #0d6efd;
    margin-top: 30px;
    margin-bottom: 30px;
}
.table-horarios{
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

.table-horarios th{
    background-color: #0d6efd;
    border:  solid 1.5px #fff;
    color: #fff;
    padding: 15px;
}

.table-horarios td{
    background-color: #fff;
    border: solid 1px #0d6efd;
    color: #0d6efd;
    text-align: center;
    padding: 10px;
}

.table-avisos{
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

.table-avisos th{
    background-color:#0d6efd;
    border:  solid 1.5px #fff;
    color: #fff;
    padding: 15px;
}

.table-avisos td{
    background-color: #fff;
    border: solid 1px #0d6efd;
    color: #0d6efd;
    text-align: center;
    padding: 10px;
}

.table-dicussoes{
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

.table-dicussoes th{
    background-color: #0d6efd;
    border:  solid 1.5px #fff;
    color: #fff;
    padding: 15px;
}

.table-dicussoes td{
    background-color: #fff;
    border: solid 1px #0d6efd;
    color: #0d6efd;
    text-align: center;
    padding: 10px;
}